/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap'); */

/*
Fonts:
    - Poppins: 300, 400, 600, 700, 800
    - Rubik: 300, 400, 500, 700
*/

:root{
    --primary-color: #BDAA8C;
    --secondary-color: #252443;
    --secondary-dark-color: #453c5c;
    --icon-color:#BDAA8C;

    --white-color: #fff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3:300;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;

    --trans-background-color: background-color .3s color .3s;
    --trans-background: background-color .3s;
    --trans-color:color .3s;
}

*{
    margin: 0;
    padding: 0;
}

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color:transparent;
}

ul{
    list-style: none;
}
img{
    max-width: var(--percent100);
    vertical-align: middle;
}

strong{
    font-weight: var(--fw8);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder{
    font: inherit;
}

h1, h2, h3, h4{
    font-family: 'Poppins';
}

h1{
    font-size: calc(1.2em+1vw);
    font-weight: var(--fw8);
    line-height: 1;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 1.2em;
    font-weight: var(--fw7);
}

h4{
    font-size: 1em;
    font-weight: var(--fw6);
}



/* reuseable css of custom select and option */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.selected-option {
    cursor: pointer;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    cursor: pointer;
}
















/* -------------------
 *  RESUSABLE SELECTOR
 * -----------------*/

 /* .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
 }

 .column{
    margin-left: -0.938em;
    margin-right: -0.938em;
 }

 .column .row{
    padding: 0 0.938em;
 }
 

 .flexwrap{
    display: flex;
    flex-wrap: wrap;
 }

.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}



.flexcol{
    display: flex;
    flex-direction: column;
    gap: 1em;
} */

/* Container */

 .container{
    max-width: 1600px;
    min-width: 1080px;
    margin: 0 auto;
    /* background-color: var(--secondary-color); */
 }

.flexitem{
    display: flex;
}

i{
    color: var(--primary-color);
}

.wrapper{
    border: 1px solid;
}

.left-page{
    width:15%;
    text-align: right;
    border: 1px solid;
    min-width: 200px;
}

.center-page{
    width: 60%;
    text-align: right;
    border: 1px solid;
}

.right-page{
    width: 25%;
    text-align: right;
    border: 1px solid;
}


/* left page */
.container .left-page .menu-btn{
    margin: .2em 1em;
    padding: .1em .2em;
    /* font-size: 1em; */
}




.logo{
    display: block;
    text-align: center;
    position: relative;
    font-weight: 600;
    
}

.logo a:last-child{
    color: var(--icon-color);
    text-transform: uppercase;
}
.logo img{
    align-items: center;
    width: 50px;
    padding: .2em;
    z-index: 100;
}



.logo a .circle{

    height: 20px;
    width: 20px;
    background-color: #ffffff;
    position: absolute;
    margin-left: 1em;
    border-radius: 50%;
    filter: blur(8px);
} 
/* menu list */

.container .wrapper .nav-links{
    text-align: left;
    border-radius: .7em;
    margin: 1em;
    background-color: white;
    color: black;
}


.container .wrapper .nav-links .list-item{
    margin: 0 1em;
    padding: .5em 0;
}


.container .wrapper .nav-links .list-item li:not(:last-child){
    border-bottom: 2px solid var(--primary-color);
}

.container .wrapper .nav-links .list-item li  a span{
    margin: .3em .8em;  
    font-size: .9em;
}

.container .wrapper .nav-links .list-item li a{
    padding: .5em;
    display: flex;
    align-items: center;
}

.container .wrapper .nav-links .list-item li i{
    font-size: 1.2em;
}


/* profile button */

.container .left-page .nav-links .log{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    margin-top: 5em;
}
.container .left-page .nav-links .log .profile{
    font-size: 2em;
    border-right: 1px solid var(--border-color);
    padding-right: .8em;
    margin-left: .7em;
}


.container .left-page .nav-links .log .logout{
    display: flex;
    align-items: center;
    padding-left: .5em;
}

.container .left-page .nav-links .log .logout i{
    font-size: 1.3em;
    padding-right: .3em;
}

/* center page */
.container .center-page .nav-head{
    display: flex;
    justify-content: space-between;
    margin-top: .3em;

}

.container .center-page .nav-head .head-info{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: small;
}

.container .center-page .nav-head .head-info .nav-title{
    padding: .2em .5em;
    font-size: 2.2em;
    font-weight: var(--fw5);
    text-transform: uppercase;
}

.container .center-page .nav-head .head-info .date{
    font-size: small;
    text-align: center;
}

.container .center-page .nav-head .head-info .create-new input{
    padding: .5em 1em;
    margin: 0 4em 0 1em;
    border: none;
    font-family: rubik;
    font-size: small;
    background-color: rgb(4, 4, 130);
    color: white;
    border-radius: 3px;
    opacity: .8;
}

.container .center-page .nav-head .head-info .create-new input:hover{
    background-color: var(--primary-color);
    color: var(--secondary-dark-color);
}


/* .container .center-page .nav-head .head-select .custom-dropdown .selected-option .options */


/* .container .center-page .nav-head .head-select{
    width: 200px;
    margin: 0 1em;
    text-align: left;
} */

/* .container .center-page .nav-head .head-select */
 /* .custom-dropdown{
    width: 100%;
    margin-top: .3em;
} */

/* .container .center-page .nav-head .head-select .custom-dropdown */
 /* .selected-option{
    border: 1px solid;
    color: var(--secondary-color);
    background-color: var(--light-bg-color);
    padding: .3em .3em .3em  1em;
    margin-top: .3em;
    transform: .5s;
    border-radius: 5px;
    height: 1.8em;
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: space-between;
}
.selected-option p{
    align-items: left;
}


.selected-option img {
    width: 30px;
    height: auto;
}

.selected-option:active{
    color: var(--primary-color);
} */



/* .container .center-page .nav-head .head-select  */
/* .custom-dropdown .options{
    width: 100%;
    background: transparent;
    color: var(--light-text-color);

} */


/* .container .center-page .nav-head .head-select  */
/* .custom-dropdown  .options li {
    border: 1px solid;
    width: 100%;
    padding: .3em 1em;
    margin: 0;
}

.custom-dropdown  .options li:hover{
    background-color: var(--light-text-color);
    color: var(--secondary-dark-color)
}

.custom-dropdown .options li:active{
    color: var(--primary-color);
}

.custom-dropdown  .options li:last-child{
    border-radius:0 0 5px 5px;
    border-top: 0;
} */




/* Add this CSS to handle the rotation */
.selected-option.active #arrowIcon {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }

    .rotate {
      transform: rotate(180deg);
    }

    #list {
      display: flex;
      font-size: 100px;
      color: white;
      z-index: 1000;


    }


